# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Clojure
/classes
/lib
/native
/checkouts
/target
.lein-deps-sum
.lein-failures
.lein-env
.lein-repl-history
.nrepl-port
.clj-kondo

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak
.cpcache
.idea
*.iml

# OS X
.DS_Store

# Docs
/autodoc
/docs
