{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {
           :build
           {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
                         slipset/deps-deploy           {:mvn/version "RELEASE"}}
            :ns-default build}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :upgrade
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core" "--upgrade"]}

           :test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.1"}
                                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}